<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
  </ion-item>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
